.hexagon-img {
  border-radius: 50%;
  border-color: transparent;
  width: 75%;
  height: 75%;
}

.hexagon-text {
  font-size: 300%;
  text-align: center;
  margin: auto;
}

.hexagon-outline {
  height: 100%;
  width: 100%;
}
