.orb {
  --orb-size: 20px;
  --orb-color: #f00;
  --orb-intensity: 0.5;

  --orb-glow-size: calc(var(--orb-size) * var(--orb-intensity));

  width: var(--orb-size);
  height: var(--orb-size);
  border-radius: 50%;
  box-shadow: inset 0 0 var(--orb-glow-size) var(--orb-color),
    inset 0 0 var(--orb-glow-size) white,
    0 0 var(--orb-glow-size) var(--orb-color), 0 0 var(--orb-glow-size) white;
}
