.ant-card {
  background: hsl(var(--bg-color-darker));
}

.ant-card-bordered {
  border-color: hsl(var(--bg-color-brightest));
  border-style: solid;
  border-width: 1px;
  border-radius: 0%;
}

.ant-card-head {
  border: none;
}

.ant-card-head-wrapper {
  border-bottom: 1px solid hsl(var(--fg-color-darkest));
}

.ant-card-body {
  color: hsl(var(--text-color));
}
