.ant-card {
  background: HSL(var(--bg-color-darker));
}

.ant-card-bordered {
  border-color: HSL(var(--bg-color-brightest));
  border-style: solid;
  border-width: 1px;
  border-radius: 0%;

  &.glow {
    border: 2px solid HSL(var(--fg-color-darkest));
    box-shadow: 0 0 5px HSLA(var(--fg-color-darkest), 1),
      inset 0 0 5px HSLA(var(--fg-color-darkest), 1);
  }
}

.ant-card-head {
  border: none;
}

.ant-card-head-title {
  color: HSL(var(--fg-color-brightest));
  min-height: 48px;
}

.ant-card-head-wrapper {
  border-bottom: 1px solid HSL(var(--fg-color-darkest));
}

.ant-card-body {
  color: HSL(var(--text-color));
}
