.animate {
  transition: all 0.2s linear;
}

.underglow,
.block .underglow, // block will override it otherwise
.underglow-hover:hover {
  background: linear-gradient(
    0deg,
    HSLA(var(--fg-color), 1) 0%,
    HSLA(var(--bg-color-brightest), 1) 2%,
    HSLA(var(--bg-color-brightest), 0.5) 10%,
    HSLA(var(--bg-color-brightest), 0) 30%
  );
}

.textglow,
.textglow-hover:hover {
  text-shadow: 0 0 10px, 0 0 10px, 0 0 10px;
}

.clickable:hover {
  cursor: pointer;
}
