.ant-layout {
  height: auto;
  min-height: 100vh;
}

.ant-layout-header {
  background: hsl(var(--bg-color-darkest));
  height: 64px;
  border: none;
  border-bottom: 1px solid hsl(var(--bg-color-brightest));
}

.ant-layout-content {
  background: hsl(var(--bg-color));
  height: 100%;
}
