.ant-select {
  color: HSL(var(--fg-color));
  border: none !important;
  box-shadow: none !important;

  &.ant-select-open {
    // box-shadow: 0 0 2px inset HSL(var(--fg-color));
    background: linear-gradient(
      0deg,
      HSLA(var(--fg-color), 1) 0%,
      HSLA(var(--bg-color-brightest), 1) 2%,
      HSLA(var(--bg-color-brightest), 0.5) 10%,
      HSLA(var(--bg-color-brightest), 0) 30%
    );
  }

  &:not(.ant-select-borderless) {
    background-color: HSL(var(--bg-color-darker));

    > .ant-select-selector {
      background-color: transparent !important;
      // border: 1px solid HSL(var(--fg-color-darkest)) !important;
      border: none !important;
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
    }
  }

  &.ant-select-borderless {
  }
}

.ant-select-dropdown {
  background-color: HSL(var(--bg-color-darker));
  padding: 4px;
  border: 1px solid HSL(var(--fg-color));
  filter: drop-shadow(0 0 4px HSL(var(--fg-color)));
}

.ant-select-item {
  color: HSL(var(--fg-color));
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: HSL(var(--bg-color-bright));
  color: HSL(var(--fg-color-bright));
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: HSL(var(--bg-color-brightest));
  color: HSL(var(--fg-color-brightest));
}

.ant-select-arrow {
  color: HSL(var(--fg-color));
}
