.ant-steps {
  .ant-steps-item {
    .ant-steps-item-container {
      .ant-steps-item-title {
        color: HSL(var(--fg-color));
      }
    }

    &.ant-steps-item-active {
      .ant-steps-item-container {
        .ant-steps-item-title {
          color: HSL(var(--fg-color-brightest));
          font-weight: bold;
        }
      }
    }
  }
}
