.hero-ban-column {
  .ant-avatar {
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
  }

  .anticon {
    color: black;
    filter: drop-shadow(0px 0px 2px white);
    height: 100%;
    width: 100%;
  }
}
