.hero-slot-bar {
  --icon-size: 100px;
  --half: calc(var(--icon-size) / 2);
  --third: calc(var(--icon-size) / 3);

  width: calc(var(--icon-size) + var(--third));
  height: calc(var(--icon-size) * 3.8);

  .ant-avatar {
    font-size: 2vw;
    line-height: var(--icon-size);
  }

  > * {
    margin-top: calc(var(--third) * -1);
    height: var(--icon-size);
    width: var(--icon-size);
    background-color: transparent;
  }

  &.ltr > :nth-child(even) {
    margin-left: var(--third);
  }

  &.rtl > :nth-child(odd) {
    margin-left: var(--third);
  }

  > :first-child {
    margin-top: 0px;
  }
}
